* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    font-size: 27px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

p, h1 {
    position: relative;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-size: 26px;
    padding-bottom: 8px;
}

p {
    font-size: 20px;
}

.contact {
    position: relative;
    top: 32px;
}

.contact p {
    display: grid;
    justify-content: center;
    font-weight: 700;
    font-size: 23px;
}

body {
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#frame {
    display: block;
    width: 100%;
    gap: 0;
}

#main-logo {
    position: relative;
    top: 0px;
    justify-self: center;
    margin: 0;
    height: 160px;
}

#contact-title {
    font-size: 21px;
    bottom: 8px;
}

.column-container {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 32px;
}

.column {
    flex: 1;
    display: grid;
}

.content-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
}

.title-button {
    display: grid;
    border: white solid 2px;
    font-weight: 600;
    color: white;
    padding: 4px 20px;
    min-width: 80px;
    justify-content: center;
}

.layer1 {
    display: block;
    justify-items: center;
    height: min-content;
}

.logo-wrapper {
    display: grid;
    justify-content: center;
}

.image-button {
    width: 130px;
    height: 130px;
    margin-top: 8px;
}

.image-button img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}


.intro {
    margin-top: 16px;
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.intro h1 {
    display: grid;
    justify-items: center;
}

.intro p, .intro a {
    display: inline;
    justify-content: center;
    margin: 0;
    color: white;
}

#inline-location {
    display: inline;
    margin: 0;
    text-decoration: underline;
}

.footer {
    display: grid;
    width: 100%;
    margin-top: 32px;
    border-top: white 2px solid;
    height: 72px;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    top: auto;
    position: relative;
    margin-bottom: 0;
    top: auto;
    bottom: 0;
}

.footer-logo {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#insta-a {
    position: relative;
    margin-top: 16px;
    display: grid;
    aspect-ratio: 1;
    width: 48px;
    height: 48px;
}

#insta-img {
    width: 100%;
    height: 100%;
}

/* Als op PC */
@media (min-width: 600px) {
    body {
        display: grid;
        width: 100vw;
        height: 100vh;
        align-content: center;
    }
    #frame { 
        display: grid;
        justify-content: center;
    }

    .intro {
        max-width: 1000px;
    }

    .intro h1 {
        display: grid;
        justify-content: center;
        max-width: 1000px;
    }
    
    .intro p {
        display: inline;
        justify-content: center;
        max-width: 1000px;
        color: white;
    }
    #main-logo {
        max-width: 320px;
        height: 320px;
    }
}